<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growtopia - Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            background-color: #2b4d6d;
            border: 6px solid #87b8cc;
            border-radius: 8px;
            padding: 0.75rem;
            width: 600px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .input-field {
            background-color: #2b4d6d;
            border: 3px solid #81d4fa;
            border-radius: 4px;
            padding: 0.3rem 0.6rem;
            color: white;
            width: 100%;
            transition: border-color 0.3s ease;
        }

        .input-field:focus {
            outline: none;
            border-color: #00b8ff;
        }

        .login-button {
            background-color: #00b8ff;
            color: white;
            padding: 0.3rem 0.9rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .login-button:hover {
            background-color: #06a4dd;
        }

        .register-link {
            color: #ff9800;
            text-decoration: none;
            cursor: pointer;
        }

        .register-link:hover {
            text-decoration: underline;
        }

        .space-y-4 > * + * {
            margin-top: 0.5rem;
        }
    </style>
</head>
<body> 
    <div class="form-container">
        <h2 class="text-xl font-semibold text-center text-white mb-2">Log in with your Account</h2> 
        <div id="errorDiv" class="hidden flex flex-col mt-1 text-xs text-red-700 font-bold px-[5px] bg-[#2b4d6d] rounded">
            <a id="errorMessage"></a>
        </div>
        <form 
            method="post"
            action="/player/growid/login/validate"
            accept-charset="UTF-8"
            id="loginForm" class="space-y-4"> 
            <input name="type" value="log" type="hidden" />
            <input name="_token" value="<%= JSON.stringify(data) %>" type="hidden" />
            <div>
                <label for="loginGrowId" class="block text-white text-sm">Your Account GrowID</label>
                <input type="text" name="growId" id="loginGrowId" class="input-field mt-1" placeholder="Enter your growid">
            </div>
            <div>
                <label for="loginPassword" class="block text-white text-sm">Your Account Password</label>
                <div class="relative">
                    <input type="password" name="password" id="loginPassword" class="input-field mt-1" placeholder="Enter your password">
                    <button type="button" id="toggleLogPassword" class="absolute inset-y-0 right-0 pr-3 flex items-center text-white focus:outline-none text-sm">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
            <button id="loginButton" class="login-button w-full">Log in</button>
        </form>
        <p class="text-center mt-1 text-white text-sm">
            Don't have an account? <a href="#" class="register-link" onclick="window.close()">Register!</a>
        </p> 
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (localStorage.getItem('growId')) {
                document.getElementById('loginGrowId').value = localStorage.getItem('growId');
            }

            const loginGrowId = document.getElementById('loginGrowId').value
            const loginPassword = document.getElementById('loginPassword').value
        });
        document.getElementById('loginButton').addEventListener('click', function (event) {
            event.preventDefault();

            const loginForm = document.getElementById('loginForm');
            const uName = document.getElementById('loginGrowId').value;
            const uPass = document.getElementById('loginPassword').value;

            if (!uName || !uPass) {
                document.getElementById('errorDiv').classList.remove('hidden');
                document.getElementById('errorMessage').innerHTML = 'Username or Password is empty';
                return;
            } else if (uName.length < 4 || uPass.length < 4) {
                document.getElementById('errorDiv').classList.remove('hidden');
                document.getElementById('errorMessage').innerHTML = 'Username or Password must be at least 4 characters long';
                return;
            } else {
                loginForm.submit();
                localStorage.setItem('growId', document.getElementById('loginGrowId').value);
            }
        })
        document.getElementById('toggleLogPassword').addEventListener('click', function () {
            const LpasswordField = document.getElementById('loginPassword')
            const LpasswordFieldType = LpasswordField.getAttribute('type');
            if (LpasswordFieldType === 'password') {
                LpasswordField.setAttribute('type', 'text');
                this.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                LpasswordField.setAttribute('type', 'password');
                this.innerHTML = '<i class="fas fa-eye"></i>';
            }
        });
    </script>
</body>
</html>
